/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: 'IBM Plex Mono';
  --main-font-color: #F1B2CE;
  --accent-font-color: #000028; 
  --accent-color: #ff0070;
  --content-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --header-color: #DB00FF;
  --menu-button-border: rgba(255, 0, 112, 0.40);
  --content-font-size: 18px;
  --button-font-size: 25px;
  --button-padding: 0 13px 0 13px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --header-line-height: 82.5%;
  --content-line-height: 130%;
}

.page.theme_dark .light-decoration {
  display: flex;
}