/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font: 'IBM Plex Mono';
  --main-font-color: #F1B2CE;
  --accent-font-color: #000028; 
  --accent-color: #ff0070;
  --content-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --header-color: #DB00FF;
  --menu-button-border: 1px solid rgba(255, 0, 112, 0.40);
  --content-font-size: 18px;
  --button-font-size: 25px;
  --button-padding: 0 13px 0 13px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --header-line-height: 82.5%;
  --content-line-height: 130%;
}

/* .page.theme_dark .light-decoration {
  position: absolute;
  z-index: -1;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: clamp(1.188rem, 0.591rem + 2.54vw, 1.813rem);
  inset-block-start: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
}

.light-decoration::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

 .light-decoration::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto .rec {
    position: absolute;
    z-index: -1;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    inset-inline-end: clamp(1.188rem, 0.591rem + 2.54vw, 1.813rem);
    inset-block-start: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  }
  
  .page.theme_auto .light-decoration::before {
    content: "REC";
    color: var(--accent-color, #ff0070);
    line-height: 24px;
  }
  
   .page.light-decoration .rec::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
    background: var(--accent-color, #ff0070);
    inline-size: 9px;
    block-size: 9px;
  }
} */

.page.theme_dark .light-decoration {
  display: flex;
}