/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-font: 'IBM Plex Mono';
  --main-font-color: #353430;
  --accent-font-color: #353430; 
  --content-color: #353430;
  --accent-color: #FF8DCB;
  --background-image: url(/images/cover-image-light.png);
  --header-color: #FFC2E6;
  --menu-button-border: 1px solid #353430;
  --content-font-size: 18px;
  --button-font-size: 25px;
  --button-padding: 0 25px 0 25px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --header-line-height: 82.5%;
  --content-line-height: 130%;
}

.page.theme_light .red-light {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex Mono';
    --main-font-color: #353430;
    --accent-font-color: #353430; 
    --accent-color: #FF8DCB;
    --content-color: #353430;
    --background-image: url(/images/cover-image-light.png);
    --header-color: #FFC2E6;
    --content-font-size: 18px;
    --button-font-size: 25px;
    --button-padding: 0 25px 0 25px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --header-line-height: 82.5%;
    --content-line-height: 130%; 
    }
}

@media (prefers-color-scheme: light) {
  .red-light {
    display: none;
  }
}
