/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var( --background-image, url(../images/cover-image-dark.png));
  background-color: var(--bg-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1440px;
  padding: 10px;
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  justify-content: center;
  align-items: center;
  justify-items: self-end;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  position: relative;
}

 .light-decoration {
  position: absolute;
  color: var(--accent-color, #FF0070);
  text-transform: uppercase;
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--content-font-size, 18px);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  top: 0px;
  right: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
} 

.light-decoration::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color, #FF0070);
  border-radius: 50%;
  border: 1px solid var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
} 

.decorated-zone {
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 0px;
  right: 0px;
  border-block-start: 1px solid var(--content-color, #FF0070);
  border-inline-end: 1px solid var(--content-color, #FF0070);
}

.decorated-zone::after {
  left: 0px;
  bottom: 20px;
  border-inline-start: 1px solid var(--content-color, #FF0070);
  border-block-end: 1px solid var(--content-color, #FF0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin-bottom: 12px; /*ADDED*/
}

.header_title {
  color: var(--header-color, #DB00FF);
  text-shadow: 4px 4px 0px var(--accent-color, #FF0070);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  font-size: var(--header-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--header-line-height, 82.5%);
}

.header_text {
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  font-size: 18px;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--content-line-height, 130%);
  max-inline-size: 355px;
  justify-self: center;
  margin-bottom: 15px; /*ADDED*/
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--accent-font-color, #000028);
}

button {
  cursor: pointer;
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: var(--content-font-size, 18px);
  padding: var(--button-padding, 0 25px 0 25px);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  color: var(--content-color, #FF0070);
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--content-color, #FF0070);
  pointer-events: none;
  transition: border 0.5s;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--content-color, #FF0070);
}

/* .header__theme-menu-item:hover { 
  border: var(--menu-button-border, 1px solid rgba(255, 0, 112, 0.40)); 
}  */

.header__theme-menu-button:hover { 
  border: 1px solid var(--menu-button-border, rgba(255, 0, 112, 0.40)); 
} 

.main-content-section {
  display: flex;
  flex-direction: column;
  margin-block-start: 30px;
  gap: 50px;
}

.what-grid {
  display: grid;
  row-gap: 20px;
}

.article-text {
  font-size: var(--content-font-size, 18px);
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--content-line-height, 130%);
  color: var(--main-font-color, #F1B2CE);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
}

a {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--accent-color, #FF0070);
}

.link-decoration:hover {
  border-bottom: 1px solid currentColor;
}

.link-decoration:focus {
  outline: none;
  border: 1px solid currentColor;
}

.link-decoration:focus-visible {
  outline: none;
  border: 1px solid currentColor
}

.text-content-title {
  min-inline-size: 355px;
  color: var(--content-color, #FF0070);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  font-size: var(--content-font-size, 18px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--content-line-height, 130%);
  padding-block-end: 20px;
}

.margin-text:not(:last-child) {
  margin: 0 0 10px;
}

.text-content-subtitle {
  min-inline-size: 355px;
  max-block-size: 71px;
  color: var(--accent-font-color, #000028);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  font-size: var(--content-font-size, 18px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--content-line-height, 130%);
}

.text-content-subtitle-medium {
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  font-size: var(--content-font-size, 18px);
  font-weight: var(--font-weight-normal, 400);
  line-height: var(--content-line-height, 130%);
}

.text-blocks {
  display: grid;
  row-gap: 20px;
}

.card-gap {
  display: grid;
  row-gap: 10px;
}

.gallery {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.img-gallery {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  background-position: center;
} 

.footer-section {
  min-block-size: 668px;
  block-size: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title-footer {
  color: var(--header-color, #DB00FF);
  text-shadow: 2px 2px 0px var(--accent-color, #FF0070);
  font-family: var(--main-font, 'IBM Plex Mono', 'monospace');
  font-size: var(--header-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--header-line-height, 82.5%);
  margin-bottom: 19px;
  margin-left: 5px;
}



 @media (width > 375px) { 

  .page {
    min-inline-size: 728px;
    padding: 20px;
  }

  .header {
    min-block-size: 768px;
    grid-template-columns: 1fr;
  }
  
  .header_title {
    margin-bottom: 24px;
    margin-left: -19px;
    align-self: center;
    justify-self: flex-start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_text {
    max-inline-size: 364px;
    justify-self: flex-end;
    margin-bottom: 58px;
  }

  .decorated-zone::before {
    top: 0px;
    right: 0px;
  }

  .decorated-zone::after {
    bottom: 42px;
    left: 0px;
  }

  .light-decoration {
    top: 0px;
    right: 10px;
  }

  .main-content-section {
    gap: 80px; 
    margin-top: 40px;
  }

  .text-content-title {
    min-inline-size: 236px;
    max-inline-size: 236px;
  }

  .why {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-column-gap: 20px;
  }

  .what {
    display: grid;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .how {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }

  .gallery {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .img-1-gallery {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .img-3-gallery {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .img-2-gallery {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .img-4-gallery {
    grid-column: 2/3;
    grid-row: 3/3;
  }

  .img-5-gallery {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .footer-section {
    margin-top: 40px;
    min-block-size: 1024px;
    block-size: 100vh;
    align-items: center;
  }

  .title-footer {
    margin-left: 0;
    margin-bottom: 45px;
  }
 
 }

 @media (width > 769px) {

  .page {
    min-inline-size: 984px;
    max-inline-size: 1024px;
  }

  .header {
    min-width: 984px;
  }

  .main-content-section {
    gap: 81px;
    margin-top: 38px;
  }

  .header__theme-menu {
    align-self: baseline;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_text {
    max-inline-size: 491px;
    max-block-size: 71px;
    justify-self: flex-end;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  }

  .why {
    grid-template-columns: 330px 1fr;
    grid-column-gap: 5px;
  }

  .gallery {
    padding-top: 0px;
  }

  .how {
    grid-template-columns: 336px 1fr;
    grid-column-gap: 0px;
  }

  .text-content-title {
    max-inline-size: 314px;
  }

  .what-grid { 
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }


  .what-card {
    align-content: baseline;
  }

  .text-content-subtitle {
    min-inline-size: 315px;
    max-block-size: 23px;
  }

  .text-content-title {
    padding-block-end: 20px;
  }
  
  .article-text {
    align-self: top;
  }

 .title-footer {
  margin-top: 10px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
 }

 .footer-section {
  min-block-size: 768px;
  }

 }